body {
  margin: 0;
  font: 16px / 1.6 'Courier New', monospace;
}

body.dark {
  background: #1e1e1e;
  color: #fff;
}

header {
  display: flex;
  padding: 15px 30px;
  background: #323233;
  color: #fff;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  box-sizing: border-box;
}

header .logo {
  font-size: 24px;
}

.save-button, .login-button {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: #3e9e32;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 35px;
}

textarea {
  outline: none;
  resize: none;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background: #1e1e1e;
  border: 0;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
}

input {
  padding: 15px 10px;
  border: 0;
  font-size: 16px;
}

.login-box {
  margin: 10px;
  width: 500px;
}
