html(lang='en')
  head
    title fastbin
    meta(name='charset', content='utf-8')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    script(src='/mobile/auth.js', defer=true)
    link(href='/mobile/style.css', type='text/css', rel='stylesheet')
  body.dark
    #root
      header
        .left-block
          .logo fastbin
      .login-box
        h2 Authentication required
        p Please enter your fastbin server password.
        input.password(type='password', name='password')
        a.login-button(href='javascript:;') Log In
